body {  
    margin-right: auto;
    margin-left: auto; 
    max-width: 900px; 
    padding: 30px; 
    padding-top: 10px; 
}

.blog-header-logo {
    font-size: 2em;
}

.blog-subtitle {
    font-style: italic;
}

.sc {
    font-feature-settings: 'smcp';
}

.footnote {}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: orchid;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: none;
} 

blockquote {
    background: #eeeeee;
    border-left: 10px solid #999999;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote p {
    display: inline;
}
