body {  
    margin-right: auto;
    margin-left: auto; 
    max-width: 900px; 
    padding: 30px; 
    padding-top: 10px;
    background-color: #fcfcfc;
    font-family: 'Merriweather sans', sans;
}

.blog-header-logo {
    font-size: 2em;
    font-family: 'Merriweather sans', sans;
}

.blog-subtitle {
    font-style: italic;
    font-family: 'Merriweather', serif;
}

.post-content {
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
}

.sc {
    font-feature-settings: 'smcp';
}

.footnote {}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: orchid;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: none;
} 

blockquote {
    background: #eeeeee;
    border-left: 10px solid #999999;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}
blockquote p {
    display: inline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather sans', sans-serif;
    // font-family: Georgia, 'Times New Roman', Times, serif;
}

.year {
    color: #999 !important;
    text-align: right;
    font-size: 2.5em;
}

/* Mobile devices */
@media screen and (max-width: 800px) {
    .desktop-header{
        display:none;
    }
    .mobile-header{
        display:initial !important;
    }
}

u {
	text-decoration: none;
	font-variant: small-caps;
}

